/*
* Styles for Outline MBT Buttons
* Colors can be customized in theme customizer
* Custom CSS can be added
*/
.blueprint-extras .mbt-featured-book-widget .mbt-book-buybuttons,
.blueprint-extras .mbt-book .mbt-book-buybuttons,
.blueprint-extras .mbt-book-archive .mbt-book .mbt-book-buybuttons,
.blueprint-extras .buylinks .mbt-book .mbt-book-buybuttons {
  display: flex !important;
  justify-content: center;
  flex-wrap: wrap; }
  .blueprint-extras .mbt-featured-book-widget .mbt-book-buybuttons .mbt-book-buybutton,
  .blueprint-extras .mbt-book .mbt-book-buybuttons .mbt-book-buybutton,
  .blueprint-extras .mbt-book-archive .mbt-book .mbt-book-buybuttons .mbt-book-buybutton,
  .blueprint-extras .buylinks .mbt-book .mbt-book-buybuttons .mbt-book-buybutton {
    background: #3c3d42;
    border: 2px solid #3c3d42;
    color: #fff;
    display: block;
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0.40625rem;
    overflow: hidden;
    position: relative;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
    float: none !important; }
    .blueprint-extras .mbt-featured-book-widget .mbt-book-buybuttons .mbt-book-buybutton a,
    .blueprint-extras .mbt-book .mbt-book-buybuttons .mbt-book-buybutton a,
    .blueprint-extras .mbt-book-archive .mbt-book .mbt-book-buybuttons .mbt-book-buybutton a,
    .blueprint-extras .buylinks .mbt-book .mbt-book-buybuttons .mbt-book-buybutton a {
      background-color: white;
      display: block;
      border: none;
      color: inherit;
      line-height: 0;
      width: 100%;
      text-align: center;
      -moz-transition: none;
      -webkit-transition: none;
      transition: none;
      vertical-align: middle; }
      .blueprint-extras .mbt-featured-book-widget .mbt-book-buybuttons .mbt-book-buybutton a:hover,
      .blueprint-extras .mbt-book .mbt-book-buybuttons .mbt-book-buybutton a:hover,
      .blueprint-extras .mbt-book-archive .mbt-book .mbt-book-buybuttons .mbt-book-buybutton a:hover,
      .blueprint-extras .buylinks .mbt-book .mbt-book-buybuttons .mbt-book-buybutton a:hover {
        border-bottom: none; }
      .blueprint-extras .mbt-featured-book-widget .mbt-book-buybuttons .mbt-book-buybutton a img,
      .blueprint-extras .mbt-book .mbt-book-buybuttons .mbt-book-buybutton a img,
      .blueprint-extras .mbt-book-archive .mbt-book .mbt-book-buybuttons .mbt-book-buybutton a img,
      .blueprint-extras .buylinks .mbt-book .mbt-book-buybuttons .mbt-book-buybutton a img {
        border: none;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        -webkit-filter: inherit;
        filter: inherit;
        width: auto;
        height: 36px;
        vertical-align: initial;
        object-fit: contain; }

.blueprint-extras.blueprint-buttons .mbt-featured-book-widget .mbt-book-buybuttons .mbt-book-buybutton:after,
.blueprint-extras.blueprint-buttons .mbt-book .mbt-book-buybuttons .mbt-book-buybutton:after,
.blueprint-extras.blueprint-buttons .mbt-book-archive .mbt-book .mbt-book-buybuttons .mbt-book-buybutton:after,
.blueprint-extras.blueprint-buttons .buylinks .mbt-book .mbt-book-buybuttons .mbt-book-buybutton:after {
  content: 'Buy \00000a Now';
  line-height: 12px;
  position: absolute;
  right: 0;
  text-align: center;
  -moz-transition: none;
  -webkit-transition: none;
  top: 50%;
  transform: translateY(-50%);
  transition: none;
  width: 40px; }

.blueprint-extras.blueprint-buttons.mbt-btn-size-small .mbt-book .mbt-book-buybuttons .mbt-book-buybutton,
.blueprint-extras.blueprint-buttons.mbt-btn-size-small .mbt-book-archive .mbt-book .mbt-book-buybuttons .mbt-book-buybutton,
.blueprint-extras.blueprint-buttons.mbt-btn-size-small .buylinks .mbt-book .mbt-book-buybuttons .mbt-book-buybutton {
  padding: 0 38px 0 0;
  width: 144px;
  font-size: 9px; }
  .blueprint-extras.blueprint-buttons.mbt-btn-size-small .mbt-book .mbt-book-buybuttons .mbt-book-buybutton:after,
  .blueprint-extras.blueprint-buttons.mbt-btn-size-small .mbt-book-archive .mbt-book .mbt-book-buybuttons .mbt-book-buybutton:after,
  .blueprint-extras.blueprint-buttons.mbt-btn-size-small .buylinks .mbt-book .mbt-book-buybuttons .mbt-book-buybutton:after {
    width: 34px; }
  .blueprint-extras.blueprint-buttons.mbt-btn-size-small .mbt-book .mbt-book-buybuttons .mbt-book-buybutton a img,
  .blueprint-extras.blueprint-buttons.mbt-btn-size-small .mbt-book-archive .mbt-book .mbt-book-buybuttons .mbt-book-buybutton a img,
  .blueprint-extras.blueprint-buttons.mbt-btn-size-small .buylinks .mbt-book .mbt-book-buybuttons .mbt-book-buybutton a img {
    height: 25px; }

.blueprint-extras.blueprint-buttons.mbt-btn-size-medium .mbt-book .mbt-book-buybuttons .mbt-book-buybutton,
.blueprint-extras.blueprint-buttons.mbt-btn-size-medium .mbt-book-archive .mbt-book .mbt-book-buybuttons .mbt-book-buybutton,
.blueprint-extras.blueprint-buttons.mbt-btn-size-medium .buylinks .mbt-book .mbt-book-buybuttons .mbt-book-buybutton {
  padding: 0 44px 0 0;
  width: 172px;
  font-size: 11px; }
  .blueprint-extras.blueprint-buttons.mbt-btn-size-medium .mbt-book .mbt-book-buybuttons .mbt-book-buybutton:after,
  .blueprint-extras.blueprint-buttons.mbt-btn-size-medium .mbt-book-archive .mbt-book .mbt-book-buybuttons .mbt-book-buybutton:after,
  .blueprint-extras.blueprint-buttons.mbt-btn-size-medium .buylinks .mbt-book .mbt-book-buybuttons .mbt-book-buybutton:after {
    width: 40px; }
  .blueprint-extras.blueprint-buttons.mbt-btn-size-medium .mbt-book .mbt-book-buybuttons .mbt-book-buybutton a img,
  .blueprint-extras.blueprint-buttons.mbt-btn-size-medium .mbt-book-archive .mbt-book .mbt-book-buybuttons .mbt-book-buybutton a img,
  .blueprint-extras.blueprint-buttons.mbt-btn-size-medium .buylinks .mbt-book .mbt-book-buybuttons .mbt-book-buybutton a img {
    height: 30px; }

.blueprint-extras.blueprint-buttons.mbt-btn-size-large .mbt-book .mbt-book-buybuttons .mbt-book-buybutton,
.blueprint-extras.blueprint-buttons.mbt-btn-size-large .mbt-book-archive .mbt-book .mbt-book-buybuttons .mbt-book-buybutton,
.blueprint-extras.blueprint-buttons.mbt-btn-size-large .buylinks .mbt-book .mbt-book-buybuttons .mbt-book-buybutton {
  padding: 0 52px 0 0;
  width: 201px;
  font-size: 12px; }
  .blueprint-extras.blueprint-buttons.mbt-btn-size-large .mbt-book .mbt-book-buybuttons .mbt-book-buybutton:after,
  .blueprint-extras.blueprint-buttons.mbt-btn-size-large .mbt-book-archive .mbt-book .mbt-book-buybuttons .mbt-book-buybutton:after,
  .blueprint-extras.blueprint-buttons.mbt-btn-size-large .buylinks .mbt-book .mbt-book-buybuttons .mbt-book-buybutton:after {
    width: 48px; }
  .blueprint-extras.blueprint-buttons.mbt-btn-size-large .mbt-book .mbt-book-buybuttons .mbt-book-buybutton a img,
  .blueprint-extras.blueprint-buttons.mbt-btn-size-large .mbt-book-archive .mbt-book .mbt-book-buybuttons .mbt-book-buybutton a img,
  .blueprint-extras.blueprint-buttons.mbt-btn-size-large .buylinks .mbt-book .mbt-book-buybuttons .mbt-book-buybutton a img {
    height: 35px; }

.blueprint-extras.blueprint-simple-buttons .mbt-featured-book-widget .mbt-book-buybuttons .mbt-book-buybutton,
.blueprint-extras.blueprint-simple-buttons .mbt-book .mbt-book-buybuttons .mbt-book-buybutton,
.blueprint-extras.blueprint-simple-buttons .mbt-book-archive .mbt-book .mbt-book-buybuttons .mbt-book-buybutton,
.blueprint-extras.blueprint-simple-buttons .buylinks .mbt-book .mbt-book-buybuttons .mbt-book-buybutton {
  padding: 0;
  width: 135px; }
  .blueprint-extras.blueprint-simple-buttons .mbt-featured-book-widget .mbt-book-buybuttons .mbt-book-buybutton a,
  .blueprint-extras.blueprint-simple-buttons .mbt-book .mbt-book-buybuttons .mbt-book-buybutton a,
  .blueprint-extras.blueprint-simple-buttons .mbt-book-archive .mbt-book .mbt-book-buybuttons .mbt-book-buybutton a,
  .blueprint-extras.blueprint-simple-buttons .buylinks .mbt-book .mbt-book-buybuttons .mbt-book-buybutton a {
    width: 100%;
    height: 100%;
    background-color: white; }
    .blueprint-extras.blueprint-simple-buttons .mbt-featured-book-widget .mbt-book-buybuttons .mbt-book-buybutton a img,
    .blueprint-extras.blueprint-simple-buttons .mbt-book .mbt-book-buybuttons .mbt-book-buybutton a img,
    .blueprint-extras.blueprint-simple-buttons .mbt-book-archive .mbt-book .mbt-book-buybuttons .mbt-book-buybutton a img,
    .blueprint-extras.blueprint-simple-buttons .buylinks .mbt-book .mbt-book-buybuttons .mbt-book-buybutton a img {
      width: auto; }

.blueprint-extras.blueprint-simple-buttons.mbt-btn-size-small .mbt-book .mbt-book-buybuttons .mbt-book-buybutton,
.blueprint-extras.blueprint-simple-buttons.mbt-btn-size-small .mbt-book-archive .mbt-book .mbt-book-buybuttons .mbt-book-buybutton,
.blueprint-extras.blueprint-simple-buttons.mbt-btn-size-small .buylinks .mbt-book .mbt-book-buybuttons .mbt-book-buybutton {
  width: 120px; }
  .blueprint-extras.blueprint-simple-buttons.mbt-btn-size-small .mbt-book .mbt-book-buybuttons .mbt-book-buybutton a img,
  .blueprint-extras.blueprint-simple-buttons.mbt-btn-size-small .mbt-book-archive .mbt-book .mbt-book-buybuttons .mbt-book-buybutton a img,
  .blueprint-extras.blueprint-simple-buttons.mbt-btn-size-small .buylinks .mbt-book .mbt-book-buybuttons .mbt-book-buybutton a img {
    height: 25px; }

.blueprint-extras.blueprint-simple-buttons.mbt-btn-size-medium .mbt-book .mbt-book-buybuttons .mbt-book-buybutton,
.blueprint-extras.blueprint-simple-buttons.mbt-btn-size-medium .mbt-book-archive .mbt-book .mbt-book-buybuttons .mbt-book-buybutton,
.blueprint-extras.blueprint-simple-buttons.mbt-btn-size-medium .buylinks .mbt-book .mbt-book-buybuttons .mbt-book-buybutton {
  width: 135px; }
  .blueprint-extras.blueprint-simple-buttons.mbt-btn-size-medium .mbt-book .mbt-book-buybuttons .mbt-book-buybutton a img,
  .blueprint-extras.blueprint-simple-buttons.mbt-btn-size-medium .mbt-book-archive .mbt-book .mbt-book-buybuttons .mbt-book-buybutton a img,
  .blueprint-extras.blueprint-simple-buttons.mbt-btn-size-medium .buylinks .mbt-book .mbt-book-buybuttons .mbt-book-buybutton a img {
    height: 30px; }

.blueprint-extras.blueprint-simple-buttons.mbt-btn-size-large .mbt-book .mbt-book-buybuttons .mbt-book-buybutton,
.blueprint-extras.blueprint-simple-buttons.mbt-btn-size-large .mbt-book-archive .mbt-book .mbt-book-buybuttons .mbt-book-buybutton,
.blueprint-extras.blueprint-simple-buttons.mbt-btn-size-large .buylinks .mbt-book .mbt-book-buybuttons .mbt-book-buybutton {
  width: 152px; }
  .blueprint-extras.blueprint-simple-buttons.mbt-btn-size-large .mbt-book .mbt-book-buybuttons .mbt-book-buybutton a img,
  .blueprint-extras.blueprint-simple-buttons.mbt-btn-size-large .mbt-book-archive .mbt-book .mbt-book-buybuttons .mbt-book-buybutton a img,
  .blueprint-extras.blueprint-simple-buttons.mbt-btn-size-large .buylinks .mbt-book .mbt-book-buybuttons .mbt-book-buybutton a img {
    height: 35px; }

/** Widgets*/
.blueprint-extras.blueprint-buttons.mbt-btn-size-small .mbt-featured-book-widget .mbt-book-buybuttons .mbt-book-buybutton,
.blueprint-extras.blueprint-buttons.mbt-btn-size-medium .mbt-featured-book-widget .mbt-book-buybuttons .mbt-book-buybutton,
.blueprint-extras.blueprint-buttons.mbt-btn-size-large .mbt-featured-book-widget .mbt-book-buybuttons .mbt-book-buybutton {
  padding: 0 31px 0 0 !important;
  width: 120px !important;
  font-size: 8px !important; }
  .blueprint-extras.blueprint-buttons.mbt-btn-size-small .mbt-featured-book-widget .mbt-book-buybuttons .mbt-book-buybutton:after,
  .blueprint-extras.blueprint-buttons.mbt-btn-size-medium .mbt-featured-book-widget .mbt-book-buybuttons .mbt-book-buybutton:after,
  .blueprint-extras.blueprint-buttons.mbt-btn-size-large .mbt-featured-book-widget .mbt-book-buybuttons .mbt-book-buybutton:after {
    width: 28px !important; }
  .blueprint-extras.blueprint-buttons.mbt-btn-size-small .mbt-featured-book-widget .mbt-book-buybuttons .mbt-book-buybutton a img,
  .blueprint-extras.blueprint-buttons.mbt-btn-size-medium .mbt-featured-book-widget .mbt-book-buybuttons .mbt-book-buybutton a img,
  .blueprint-extras.blueprint-buttons.mbt-btn-size-large .mbt-featured-book-widget .mbt-book-buybuttons .mbt-book-buybutton a img {
    height: 25px !important; }

.blueprint-extras.blueprint-simple-buttons.mbt-btn-size-small .mbt-featured-book-widget .mbt-book-buybuttons .mbt-book-buybutton,
.blueprint-extras.blueprint-simple-buttons.mbt-btn-size-medium .mbt-featured-book-widget .mbt-book-buybuttons .mbt-book-buybutton,
.blueprint-extras.blueprint-simple-buttons.mbt-btn-size-large .mbt-featured-book-widget .mbt-book-buybuttons .mbt-book-buybutton {
  width: 120px !important; }
  .blueprint-extras.blueprint-simple-buttons.mbt-btn-size-small .mbt-featured-book-widget .mbt-book-buybuttons .mbt-book-buybutton a img,
  .blueprint-extras.blueprint-simple-buttons.mbt-btn-size-medium .mbt-featured-book-widget .mbt-book-buybuttons .mbt-book-buybutton a img,
  .blueprint-extras.blueprint-simple-buttons.mbt-btn-size-large .mbt-featured-book-widget .mbt-book-buybuttons .mbt-book-buybutton a img {
    height: 25px !important; }

.blueprint-extras .mbt-book .mbt-primary-button,
.blueprint-extras .mbt-book .mbt-primary-button:link,
.blueprint-extras .mbt-book .mbt-primary-button:visited {
  border-bottom: none !important; }
