.wp-block-blueprint-blocks-author-profile {
	box-sizing: border-box;

	&.has-background-color {
		padding: 0 20px 10px;
	}

	.button {
		box-shadow : none !important;
		text-shadow: none !important;
	}

	.wp-block.editor-block-list__block.block-editor-block-list__block {
		width: max-content;
	}

	.profile-preview {
		margin-top : 40px;
		padding-top: 20px;

		.profile-main {
			align-items  : flex-start;
			padding-right: 2%;

			& * {
				max-width: 100%;
			}

			& .components-autocomplete {
				max-width: 98%;
			}
		}

		.social-icons {
			flex-basis: max-content;

			.site-links span {
				height       : 30px;
				margin-bottom: 10px;
				padding      : 4px;
				position     : relative;
				width        : 30px;

				span {
					box-sizing   : border-box;
					left         : 0;
					margin       : 0;
					mask-position: center;
					mask-repeat  : no-repeat;
					mask-size    : 20px 20px;
					position     : absolute;
					top          : 0;
				}
			}
		}
	}

	.profile-main {
		text-align: left;

		.media {
			background-color: rgba(#0085ba, 0.1);
			float           : none;
			margin-right    : 22px !important;
			min-width       : max-content;
			position        : relative;
			width           : 150px;
			z-index         : 1;

			&.circle {
				border-radius        : 50%;
				height               : 150px;
				-webkit-shape-outside: circle();
				shape-outside        : circle();
				width                : 150px;
			}

			&.circle img {
				border-radius: 50%;
				height       : 150px;
				object-fit   : cover;
				width        : 150px;
			}

			span.edit-media {
				background   : #0085ba;
				border-radius: 50%;
				color        : #fff;
				display      : block;
				font-size    : 26px;
				height       : 30px;
				line-height  : 30px;
				position     : absolute;
				right        : 15px;
				text-align   : center;
				top          : -15px;
				width        : 30px;
				z-index      : 999;
			}

			&:focus,
			&:hover {
				cursor: pointer;

				&:after {
					background-color: rgba(#0085ba, 0.1);
					content         : "";
					height          : 100%;
					left            : 0;
					pointer-events  : none;
					position        : absolute;
					top             : 0;
					width           : 100%;
					z-index         : 0;
				}

				&.circle:after {
					border-radius: 50%;
				}
			}
		}
	}

	.social-icons {
		width: 70px;

		.site-links {
			padding-left : 0;
			padding-right: 26px;
		}
	}
}