.wp-block-blueprint-blocks-author-profile {
  padding: 0 20px;
  box-sizing:border-box;


  &.has-background-color  {
    padding:50px 20px 30px;
  }

  .inner-wrap {
    margin:0 auto;
    max-width:100%;
  }

  .profile-main {

    .media {
      width:max-content;
      margin:0 auto 20px;
    }

    img {
       display:block;
       object-fit:cover;
    }

    &.circle-left {
      .media {
        border-radius:50%;

        img {
          border-radius: 50%;
          width:240px;
          height:240px;
        }
      }
    }

    .bpb-more-link{
        display:block;
        margin-top:30px;

      &.btn-center {
        text-align:center;
      }
      &.btn-right {
        text-align:right;
      }
      &.btn-left {
        text-align:left;
      }
    }
  }


  .blueprint-profile-links {
    display:flex;
    width:100%;
    justify-content:center;
    margin-top:60px;

    & > div {
      margin:0 8px;
    }

  }
}


@media all and (min-width: 600px ) {
.wp-block-blueprint-blocks-author-profile {

  .is-flex {
    display:block;
  }
  .profile-main {
    display:flex;
    align-items:center;
    .media {
      margin-right: 10px;
      min-width:30%;
    }

    &.circle-left {
      display:block;
      .media {
        float:left;
        margin-right:30px;
        -webkit-shape-outside:circle();
        shape-outside:circle();
        }
      }
    }
  }

}

@media all and (min-width: 768px ) {
  .wp-block-blueprint-blocks-author-profile {

    .is-flex {
       display:flex;
       align-items:flex-start;
    }

    .blueprint-profile-links {
      flex-direction:column;
      justify-content:flex-start;
      width:max-content;
      padding-left:30px;
      margin-top:0;
    }

    &.alignfull {
      .blueprint-profile-links {
        padding-left:40px;
      }
    }

}
}

@media all and (min-width: 960px ) {
  .wp-block-blueprint-blocks-author-profile {
    padding:40px 50px 20px;

    &.has-background-color {
      padding: 60px 50px 30px;
    }

    .blueprint-profile-links {
      padding-left:40px;
      margin-top:0;
    }

    &.alignfull {
      .blueprint-profile-links {
        padding-left:60px;
      }
    }
}
}
