@import 'buttons';
.wp-block-blueprint-blocks-mbt-book {
    font-size:15px;
    padding:0;

    .block-preview.active-preview {
        padding: 40px 20px;
    }
    
    .preview-left {
        min-width:45%;

        .cover-links span {
            display:inline;
            font-style:italic;
            font-size:12px;
            line-height:1em;
            font-family:'serif';
        }
    }
    
    .block-message {
        margin: 20px auto 0;
        background-color:#f4f4f4;
        padding:0 10px 20px;
        text-align:center;
        font-weight:bold;

        span {
            display:block;
        }

        &.active {
            font-weight:normal;
        }

        a {
            color:#11A0D2;
        }
    }
    .block-settings {
        background-color:#f4f4f4;
        color:#000;
        padding:20px 20px 20px;
    }
    
    .buylinks {

        padding: 0 20px 10px;
    
        .mbt-book-buybuttons.blueprint {
            display:flex;
            flex-wrap:wrap;

            .mbt-book-buybutton {
                flex-basis:48%;
                margin:0 1% 10px;
                max-width:48% !important;
                transform:none !important;

                a {
                    background-color:#fff !important;

                    &:after {
                        font-size:9px !important;
                    }

                    img {
                        object-fit:contain;
                    }
                }
              
            }
        }
    }

}

.book-select .components-base-control__field,
.is-flex {
    display:flex;
    margin-bottom:20px;
    align-items:center;

    .book-select & {
        display:block;
    }

    & .components-base-control__label {
        margin-bottom:0 !important;
        padding-bottom:0 !important;
    }
    &.inner-preview {
        align-items:stretch;
    }
    &.custom-button-inputs {
        width:100%;
        & > div {
            flex-basis:49%;
        }
        & > div:first-of-type {
            margin-right:2%;
        }
    }
}
.book-select label {
    flex-basis:30%;
}
.editor-styles-wrapper .wp-block-blueprint-blocks-mbt-book h4 {
    margin-bottom:0 !important;
    font-size:16px !important;
    line-height:28px !important;
    min-width:max-content;
}
.editor-styles-wrapper .wp-block-blueprint-blocks-mbt-book h2 {
    margin-top:0 !important;
    margin-bottom:0 !important;

    &.preview-title {
        margin-bottom:20px !important;
    }
}
.preview-tagline:focus,
.custom-blurb:focus,
h4.buttons-label {
    background-color: #f4f4f4;
    color:#000;
    margin-bottom:0;
    line-height:28px;
    border:1px solid #f4f4f4;
    transition: all .5s;

    &:focus {
        border-color:#0085BA;
    }

    &.noneditable, &.noneditable:focus {
        border:none;
    }
}

h4.buttons-label {
    text-align:center;
    width:max-content;
    padding:0 12px;
    margin:0 auto;
    position:relative;
    bottom:12px;
}

.block-settings .components-base-control__label {
    font-size:14px !important;
    font-weight:bold !important;
    text-transform:none !important;
    letter-spacing:0 !important;
    font-style:normal !important;
}
.components-toggle-control__label,
.components-base-control__label {

    &.block-label {
        margin-bottom:8px !important;
    }
    .custom-label &,
    .custom-button & {
        margin-bottom:0 !important;
        padding-bottom:0 !important;
    }
    .custom-button-inputs & {
        margin-bottom:0 !important;
        padding-bottom:0 !important;

    }
}

.add-title-prefix .components-base-control__field,
.custom-label .components-base-control__field,
.custom-button .components-base-control__field {
    margin-bottom:4px;
}

.components-panel__row.display-block {
    display:block !important;
}
