.wp-block-blueprint-blocks-mbt-book {
    padding: 40px 20px;
    margin-bottom:50px;

    .is-flex.flex-row-reverse {
        flex-direction:row-reverse !important;
    }
    .inner {
      max-width:100%;
      margin: 0 auto;
    }
    .preview-left {

        a.image-link {
            display:block;
            width:max-content;
            max-width:100%;
            margin:0 auto;

            img {
                width:240px;
            }
        }
        .cover-links {
            margin-bottom:40px;
            text-align:center;
        }
        .cover-links span, .cover-links a  {
            font-size:11px !important;
            text-align:center;
            display:inline;
            font-style:italic;
        }

        }

    .preview-right {
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        text-align:center;
    }
    h2.preview-title {
        font-size: 24px;
        margin-bottom:25px;
    }
    .preview-tagline {
        font-weight:bold;
        margin-bottom:12px;
    }
    .preview-blurb {
        margin-bottom:40px;
        justify-self:flex-start;
        font-size:18px;

    }
    .blurb-link, .blurb-text, .blurb-text p {
        display:inline;
    }

    h5.buttons-label {
        text-align:center;
        position:relative;
        margin:0 auto;
        width:max-content;
        background-color:#fff;
        padding:0 20px;
        bottom:38px;
    }
    .buylinks {
        padding:30px 10px 20px;
        border:1px solid #999;
        justify-self:flex-end;

        &:empty {
            border:none;
        }
        .mbt-book .mbt-book-buybuttons {
          display:flex;
          flex-wrap:wrap;
          justify-content: center;
        }
        .mbt-book .mbt-book-buybuttons .mbt-book-buybutton {
          float:none;
          margin-bottom:16px;
        }
    }

}

@media all and (min-width: 600px ) {
    .wp-block-blueprint-blocks-mbt-book {

        .preview-left {
            padding-right:30px;

            a.image-link {
              margin-right:32px;
            }

            .cover-links {
                margin-bottom:0;
            }
        }
        .preview-right {
          text-align:left;
        }

        .is-flex.flex-row-reverse {
            .preview-left {
                padding-right:0;
                padding-left:30px;
            }
        }

        .mbt-book .mbt-book-buybuttons .mbt-book-buybutton {
          flex-basis:48%;
          margin:0 1% 16px;
          text-align:right;
          &:nth-of-type(2n) {
            text-align:left;
          }
        }
    }
}


@media all and (min-width:960px ) {
    .wp-block-blueprint-blocks-mbt-book {
        padding:40px 50px;

        .mbt-book .mbt-book-buybuttons .mbt-book-buybutton {
          flex-basis:unset;
          text-align:center;
          &:nth-of-type(2n) {
            text-align:center;
          }
        }
    }
}
